
/* Shared Styles */

*{
    font-family: 'Merriweather', serif;
    margin-left: 0px;
}

/* Unique Styles */

article > section{
    margin-top: 120px;
}

#first-article{
    background-image: linear-gradient(180deg, #070211, transparent), url(../Resources/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 600px;
    /* background-size: fixed;
    background-position: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section-three{
    display: flex;
    background-image:linear-gradient(to right, #070211, transparent), url(../Resources/Vectorrr.png);
    background-repeat: no-repeat;
    /* background-size: fixed;
    background-position: center; */
    align-items: center;
    justify-content: center;
    height: 600px;
    border-radius: 16px;
}

.hid1{
    color: #F00;
}

body > section{
    margin-bottom: 40px;
}

.section-four{
    height: 482px; 
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 16px;
}

.section-five{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-seven{
    background-image: url(../Resources/Rectangle\ 1.png), url(../Resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: right top, bottom;
    margin-top: 100px;
    height: 661px;
}

.slideshow{
    display: flex;
}

.images{
    margin: 12px 24px 12px 0px;
    width: 396px;
    height: auto;
}

.section-nine{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1280px;
    height: 616px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#email{
    height: 72px;
    width: 438px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    margin-top: 50px;
    padding: 0px;
}

input::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
}

#scbtn{
    background-color: #F00;
    height: 72px;
    width: 210px;
    border-radius: 0px 50px 50px 0px;
    margin-top: 50px;
    border: none;
    padding: 0px;
}

.footer-styles{
    background-color: #070211;
    height: 610px;
    padding: 120px 140px 0px 140px;
    color: #fff;
    margin-top: 120px;
    font-size: 24px;
    font-weight: 500;
}

.icons{
    width: 64px;
    height: auto;
    margin: 24px;
}
